<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel=“stylesheet” href=“https://www.w3schools.com/w3css/4/w3.css“>
    <link rel=“stylesheet” href=“externalStyleSheet.css“>

    <style>
        .footer{
            background-color: lightgrey;
            padding: 5px;

        }</style>
</head>





<div >


  <nav class="navbar navbar-inverse" >
    <div class="container container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img class="img-responsive" style="margin-top: -10px; height: auto; width: auto; max-height: 40px; max-width: 250px; " alt = "Brand" src="{{url_for('static', filename = 'Logos/hmu2.png') }}">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-right nav navbar-nav ">
            <li><a href="{{ url_for('Results') }}">Results</a></li>  
            <li><a href="{{ url_for('ContactUs') }}">Contact Us</a></li>
          </ul>
      </div>
    </div>
  </nav>


<!--how to add different classes            class="container bg-info"-->

<br><b><h1 style="text-align:center;" >Welcome to HealthMsgU</h1> </b>
    <div class="container bg-info w3-round-large"   >



<p><h3  style=" color: black">This is a website for <b>researchers</b> to gauge public perception and find trends regarding health topics.
        Posts are first gathered from Twitter, and then analyzed to generate visualized statistical data.</h3> </p> </div>

<br><b><h1 style="text-align:center; "> How to use the site</h1> </b>

    <h3 style="color: black">

        <div class="container bg-info"   >
            <!-- <ol> gives you an ordered list
        <ul> gives you an unordered list-->
        <ul style="list-style-type:square">
            <li>Enter search terms on the Home page.</li>
            <li>After your query has been entered, you can click the results button in the navigation bar.</li>
            <li> Choose how to visualize your data from 3 options: Maps, Word Frequency and Word cloud.</li> </h3></div>


    <br><b><h1 style="text-align:center;"> FAQs</h1> </b>
<div class="container bg-info"   ><h3 style="color: black">
    <b>Q. </b>How to contact the creators?
    <br>
    <b>A. </b>To contact the creators click on <a href="{{ url_for('ContactUs') }}">contact us </a> for more information.
    <br>

    <p></p>
    <b>Q. </b>When did this project start?
    <br>
    <b>A. </b>The project started in Fall 2017.
    <br>

    <p></p>
    <b>Q. </b>How did this project come to be?
    <br>
    <b>A. </b>This project began as a way to get information to researchers about the way the public views the medication for certain diseases.
    Thus, from this data, ways to better inform the public could be made.
    <br>


    <br><b>More FAQs will be posted soon</b></h3>
</div>

<!--
<br>
<div class="footer" color="blue"><h3 style="color: black">

    <p style="text-align:center;"> <a href="{{ url_for('index') }}">Health Msg U</a></p>

</h3></div>-->


</body>
</html>
