<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/StlySheets/healthmsgu.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
<style type="text/css">
  html *
{
   
   font-family: "Arial Black", Gadget, sans-serif;
}
  
</style>  
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img class="img-responsive" style="margin-top: -10px; height: auto; width: auto; max-height: 40px; max-width: 250px; " alt = "Brand" src="{{url_for('static', filename = 'Logos/hmulogo.png') }}">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-right nav navbar-nav ">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Results
        <span class="caret"></span></a>
      </li>
          <li><a href="{{ url_for('AboutProject') }}">About</a></li>
          <li><a href="{{ url_for('ContactUs') }}">Contact Us</a></li>
        </ul>
    </div>
  </div>
</nav>

<body style="background-color: #f2f2f2">
<div class="container w3-round-large" style= "display: block;" id= "HMUText">
  <h1 style = "text-align:center;margin-top:100px">Welcome to HealthMsgU!</h1>
  <h3 style = "text-align:center;">Data Visualization for Stigmatized Health Care Topics</h3>
  <p style = "text-align:center;"><strong>May return explicit content!</strong></p>
</div>


<div class = "container">
  <div class = "row" style = "padding:40px;">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
        <div align = "center">
         <form action="/render_Data" method="post">
              <div class="input text" style="display: inline-block;">
                  <h4 style="display: inline-block;">{{ form.tweets.label }}</h4> {{ form.tweets }}
              </div>
   
              <div class="input submit" style="display: inline-block;">
                  <input type="submit" value="Submit" />
              </div>
          </form>
        </div>
      </div>
    <div class = "col-md-2"></div>
    <img class="img-responsive" src="{{ url_for('static', filename='Logos/syringe.png') }}">
</div>
</div>
</body>
</div>
</html>
  