<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="healthmsgu.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    html *
{
   
   font-family: "Arial Black", Gadget, sans-serif;
}
  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: purple;
  color: yellow;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
    }
  #myBtn:hover {
  background-color: #555;
    }
    #AllWC{
    display: block;
    }
    #PosWC{
    display: none;
    }
    #NegWC{
    display: none;
    }
    #NeuWC{
    display: none;
    }
    #Allbar{
    display: block;
    }
    #Posbar{
    display: none;
    }
    #Negbar{
    display: none;
    }
    #Neubar{
    display: none;
    }
    .btn btn-primary{
    margin: 0 auto    
    }
    .wrapper{
        text-align: center;
    }
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
}
.breaking{    
    width:600px;
    word-wrap: break-word;
}

  </
  </style>
  
</head>
<body style="background-color: #f2f2f2">
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img class="img-responsive" style="margin-top: -10px; height: auto; width: auto; max-height: 40px; max-width: 250px; " alt = "Brand" src="{{url_for('static', filename = 'Logos/hmulogo.png') }}">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-right nav navbar-nav ">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Results
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#wordcloud">Word Cloud</a></li>
          <li><a href="#wordFreq">Word Frequency</a></li>
          <li><a href="#fivetweet">Top 5 Recent Tweets</a></li>
          <li><a href="#PieChart">Pie Chart</a></li>
          <li><a href="#Map">Map</a></li>
          <li><a href="#TimeZone">Time Zone</a></li>
        </ul>
      </li>
          <li><a href="{{ url_for('AboutProject') }}">About</a></li>
          <li><a href="{{ url_for('ContactUs') }}">Contact Us</a></li>
        </ul>
    </div>
  </div>
</nav>

<div class="container w3-round-large" style= "display: block;" id= "HMUText">
  <h1 style = "text-align:center;margin-top:70px">These are your results for: {{term}} </h1>
  <p style = "text-align:center;"><strong>Click on the HMU logo above to conduct another search.</strong></p>
</div>

<div class = "container">
  <div class = "row" style = "padding:40px 15px;">
    <div class = "col-md-2"></div>
    <div class = "col-md-8"> 
    <div class="page-header"><h1 id= "wordcloud"><b>Word Cloud</h1><b></div>
      <div class = "wrapper">
      <button type="button" class="btn btn-primary" onclick = "WCA()" id = "AllWCB">All</button>
      <button type="button" class="btn btn-primary" onclick = "WCP()" id = "PosWCB">Positive</button>
      <button type="button" class="btn btn-primary" onclick = "WCNEG()" id = "NegWCB">Negative</button>
      <button type="button" class="btn btn-primary" onclick = "WCNEU()" id = "NeuWCB">Neutral</button>
      </div>
      
      <div class="center">
      <img align="center" src= {{'static/WordCloudAll.png'}} id= "AllWC">
      <img align = "center" src= {{'static/WordCloudPos.png'}} id = "PosWC"> 
      <img align = "center" src= {{'static/WordCloudNeg.png'}} id = "NegWC">
      <img align = "center" src= {{'static/WordCloudNeu.png'}} id = "NeuWC">
      </div>

    <div class="page-header"><h1 id= "wordFreq"><b>Most Frequently Used Words</h1><b></div>
        <table class = "center">

        {% for word in wordFreq %}
                <tr>
                        <td>{{ word }}</td>
                </tr>
        {% endfor %}
        </table>

    <div>
    <div class="page-header"><h1 id= "PieChart"><b>Pie chart</h1><b></div>    
        <img src= {{'static/ah.png'}} class="center">
    </b>

    <div class="page-header"><h1 id= "fivetweet"><b>Top Five Positive/Negative Tweets</h1><b></div>
      
      <div class="breaking">
      <h1>Positive Tweets: </h1>
        <ul>
          {% for ptweet in ptweet_render %}
            <li><a href={{ptweet.url}}>{{ ptweet.text }}</a></li>
          {% endfor %}
        </ul>
      

      <h1 style="padding: 10px">Negative Tweets: </h1>
        <ul>
          {% for ntweet in ntweet_render %}
            <li><a href={{ntweet.url}}>{{ ntweet.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
        
    
    <div class="page-header"><h1 id= "Map"><b>Map</h1><b></div>
        <img src= {{'static/basemap.png'}}>
    <div class="page-header"><h1 id= "TimeZone"><b>Time Zone</h1><b></div> 
      <div class = "wrapper">
      <button type="button" class="btn btn-primary" onclick = "BarA()" id = "AllWCB">All</button>
      <button type="button" class="btn btn-primary" onclick = "BarP()" id = "PosWCB">Positive</button>
      <button type="button" class="btn btn-primary" onclick = "BarNEG()" id = "NegWCB">Negative</button>
      <button type="button" class="btn btn-primary" onclick = "BarNEU()" id = "NeuWCB">Neutral</button>  
      </div>

    <div class = "center">    
        <img src= {{'static/barchart.png'}} id = "Allbar">
        <img src= {{'static/positive_barchart.png'}} id = "Posbar">
        <img src= {{'static/negative_barchart.png'}} id = "Negbar">
        <img src= {{'static/neutral_barchart.png'}} id = "Neubar">
        
    </div>
</div>
</div>
<script>
//When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
   if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}



function WCA() {
    document.getElementById("AllWC").style.display = "block";
    document.getElementById("PosWC").style.display = "none";
    document.getElementById("NegWC").style.display = "none";
    document.getElementById("NeuWC").style.display = "none";
}
function WCP() {
    document.getElementById("PosWC").style.display = "block";
    document.getElementById("AllWC").style.display = "none";
    document.getElementById("NegWC").style.display = "none";
    document.getElementById("NeuWC").style.display = "none";    
}
function WCNEG() {
    document.getElementById("NegWC").style.display = "block";
    document.getElementById("AllWC").style.display = "none";
    document.getElementById("PosWC").style.display = "none";
    document.getElementById("NeuWC").style.display = "none";
}
function WCNEU() {
    document.getElementById("NeuWC").style.display = "block";
    document.getElementById("AllWC").style.display = "none";
    document.getElementById("NegWC").style.display = "none";
    document.getElementById("PosWC").style.display = "none";
}

//This for Bar Chart
function BarA() {
    document.getElementById("Allbar").style.display = "block";
    document.getElementById("Posbar").style.display = "none";
    document.getElementById("Negbar").style.display = "none";
    document.getElementById("Neubar").style.display = "none";
}
function BarP() {
    document.getElementById("Posbar").style.display = "block";
    document.getElementById("Allbar").style.display = "none";
    document.getElementById("Negbar").style.display = "none";
    document.getElementById("Neubar").style.display = "none";    
}
function BarNEG() {
    document.getElementById("Negbar").style.display = "block";
    document.getElementById("Allbar").style.display = "none";
    document.getElementById("Posbar").style.display = "none";
    document.getElementById("Neubar").style.display = "none";
}
function BarNEU() {
    document.getElementById("Neubar").style.display = "block";
    document.getElementById("Allbar").style.display = "none";
    document.getElementById("Negbar").style.display = "none";
    document.getElementById("Posbar").style.display = "none";
}
</script>
</body>
</html>